<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div style='text-align:center'>
    <h1 style='color: blue'>Welcome to System Contacts!</h1>
    <p style='color: blue; margin-bottom: 40px; font-size: 18px'>
      To get started with System Contacts, please click here:
    </p>
    <button type="button" style='color: #22BC66'>
      <a href="`http:localhost:3000/api/users/verify/${verifyToken}`">
        Confirm your account
      </a>
    </button>
  </div>

</body>

</html>